<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%for f in t %}
<h1>title = {{f.title}} id = {{f.id}}</h1>
{% endfor %}
    <form action="https://www.tut.by/" method="POST">
        {% csrf_token %}
        <input type="text" name="Login"><br>
        <input type="password" name = 'pass'><br>
        <button>Отправить</button>
    </form>
    <a href=" {% url 'name' %}">Загрузка index1.html</a>
    <p style="color: red">Вставка новой страницы</p>
    {% block content %}

    {% endblock %}
</body>
</html>